.faqSection {
    padding: 5rem 1rem;
}

.tag {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #2B7FFF;
    margin-bottom: 0.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #1E1E1E;
}

.faqList {
    border-top: 1px solid #e5e7eb;
}

.faqItem {
    border-bottom: 1px solid #e5e7eb;
}

.question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1E1E1E;
    text-align: left;
}

.question:hover {
    color: #2B7FFF;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.answer.open {
    max-height: 200px;
    /* Adjust as needed */
}

.answer p {
    padding-bottom: 1.5rem;
    color: #979797;
    font-size: 1.3rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .title {
        font-size: 26px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 1.5rem;
        color: #1e1e1e;
    }

    .question {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 600;
        color: #1e1e1e;
        text-align: left;
    }

    .tag {
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 700;
        color: #2B7FFF;
        margin-bottom: 0.5rem;
    }
}