.header {
  position: fixed;
  /* 헤더를 상단에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* 다른 요소 위에 오도록 설정 */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* 부드러운 전환 효과 */
}

.headerContent {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 64px;
  /* 헤더의 고정 높이 */
  width: 100%;
  max-width: 1280px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.25rem;
  padding: 0 1rem;
  /* 좌우 패딩 */
}

.transparentHeader {
  background-color: transparent;
  box-shadow: none;
}

.scrolledHeader {
  background-color: #ffffffe9;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo>span>img {
  margin-right: 0.5rem;
}

.transparentLogo {
  color: #ffffff;
  /* 투명 배경일 때 로고 색상 */
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
  /* space-x-6 */
}

.navLink {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  /* 부드러운 전환 효과 */
}

.transparentNavLink {
  color: #ffffff;
  /* 투명 배경일 때 링크 색상 */
}

.scrolledNavLink {

  /* 스크롤 시 링크 색상 (회색) */
}

.navLink:hover {
  color: #2B7FFF;
}